<configuration>
  <packageSources>
    <add key="dotnet-core" value="https://pkgs.dev.azure.com/slashgg/_packaging/Slashgg.Svalbard/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <dotnet-core>
      <add key="Username" value="feed-token" />
      <add key="ClearTextPassword" value="3txrkdz6oxfzb5pfiftgshgpscrw7hwky27rbfnlzsdhdlscsm2q" />
    </dotnet-core>
  </packageSourceCredentials>
</configuration>