registry=https://pkgs.dev.azure.com/slashgg/_packaging/slashgg-npm/npm/registry/
always-auth=true
;begin auth token
//pkgs.dev.azure.com/slashgg/_packaging/slashgg-npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiOTAwNmY2OC02MDgyLTZkNGYtYThkMi01YmFiYmQyYmU0ZmQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2FmODI5YWMtMTNmZS00NGMxLTk1MGYtNjEzNzM0MzZmNThhIiwic2lkIjoiNTEyOTZmOWQtNjY1Yi00ODc5LThjMmQtY2U4ZGQ4ZjZjM2JmIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjczNDMzZjMzLTllNDctNDY3ZC1iZjYyLWM1NGVhMDY0MjM1YyIsIm5iZiI6MTU0NDA1Mzc2OCwiZXhwIjoxNTUxODMwMzY4fQ.jyViRzeGYGbC8HWjXhVJTPxIxbmG-CUeWPUu8dyITm0OEwgAWI0klGa6q8zDn_z5LQl_QcqKovetN0OnFsXucSsNIM0SfSWVYnlmKY9GeTVODnNvpatZYsozvDKJCCI6IL29O9G--Esk1S9yFQ4LNgL7Vy9-S6NFlBXr7Tf0_ZJPYzeQSgh59wRDTQpV5sAkR90zjVtbM_4f-Jqcme7WDUPXa04wluRRbhGSiENWl-8Muum77fKcVUk58SoTgdS2nNIZk8os_wPZ-mJ7nbEWWWM8ZDjagtVPVcRy-X1RqpLOD7zSAuU3TLOxpQ_Z_oWUjZFR86kAR6kALxm1mST9Rg
//pkgs.dev.azure.com/slashgg/_packaging/slashgg-npm/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiOTAwNmY2OC02MDgyLTZkNGYtYThkMi01YmFiYmQyYmU0ZmQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2FmODI5YWMtMTNmZS00NGMxLTk1MGYtNjEzNzM0MzZmNThhIiwic2lkIjoiNTEyOTZmOWQtNjY1Yi00ODc5LThjMmQtY2U4ZGQ4ZjZjM2JmIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjczNDMzZjMzLTllNDctNDY3ZC1iZjYyLWM1NGVhMDY0MjM1YyIsIm5iZiI6MTU0NDA1Mzc2OCwiZXhwIjoxNTUxODMwMzY4fQ.jyViRzeGYGbC8HWjXhVJTPxIxbmG-CUeWPUu8dyITm0OEwgAWI0klGa6q8zDn_z5LQl_QcqKovetN0OnFsXucSsNIM0SfSWVYnlmKY9GeTVODnNvpatZYsozvDKJCCI6IL29O9G--Esk1S9yFQ4LNgL7Vy9-S6NFlBXr7Tf0_ZJPYzeQSgh59wRDTQpV5sAkR90zjVtbM_4f-Jqcme7WDUPXa04wluRRbhGSiENWl-8Muum77fKcVUk58SoTgdS2nNIZk8os_wPZ-mJ7nbEWWWM8ZDjagtVPVcRy-X1RqpLOD7zSAuU3TLOxpQ_Z_oWUjZFR86kAR6kALxm1mST9Rg
;end auth token
