registry=https://pkgs.dev.azure.com/slashgg/_packaging/slashgg-npm/npm/registry/
always-auth=true
//pkgs.dev.azure.com/slashgg/_packaging/slashgg-npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiOTAwNmY2OC02MDgyLTZkNGYtYThkMi01YmFiYmQyYmU0ZmQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYzdhNWU3MWEtMjk1OS00ODI4LWFlNDUtYWM4MGVhM2YzYjQ2Iiwic2lkIjoiMzk5YzZmNzAtY2NkMC00YTM0LTg3NDYtZjQ3YjYyNGFmYzUwIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjczNDMzZjMzLTllNDctNDY3ZC1iZjYyLWM1NGVhMDY0MjM1YyIsIm5iZiI6MTU0NDA1ODkwMCwiZXhwIjoxNTUxODM1Mzg0fQ.q4qLpEWbQsbEZRzZbITMfakUEhvgIS6XhzrNWqsHh-MjniQTCH4LhuYfqR-90bHfw144AQ1H0jrLxpB4DuQj-l_gfmGsfa_WzAaf7Dz4TDC88BsiUC1Uag7eH1r51IRWQYOSnZjmG0dV3crKkEuaf2D4Dqpm_TDrEJJ41fJKULihJ9VX4sOCxHqE_QJkB226r4D50VLhLm1sFgqiZDYiSYEX-IT_PLAZowchwKmAsCcfZnZsyC41sP8-9om9Tpbx35iE5XcaMCuuoVwYJAGE2zH2tPJkI_rgUl-4HXtYKyUVtw3mF7iYcEK40S99aTViFQUbTuD4S2DNUlj9Wb-pvw
